.home-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 37px 83px 36px 79px;
}

.home-content_search {
    width: 70%;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 35px;
}

.home-content_search img {
    position: absolute;
}

.home-content_search input {
    background: #ffffff;
    width: 100%;
}

.list-highlight {
    margin: 62px 0 32px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.highlight-item {
   display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
}

.highlight-item_img {
    width: 65%;
    height: 76px;
    background: #d9d9d9;
    border-radius: 20px;
}

.highlight-item a{
    margin: 14px 0;
    color: #000000;
}

.home-content_charts {
    margin-bottom: 65px;
}

.home-content_weather_forecast {
    width: 100%;
}