.weather-container {
    display: flex;
    justify-content: space-between;
}

.weather-left {
    width: 70%;
    padding: 15px 48px 8px 22px;
    border: 0.3px solid #000000;
    border-radius: 10px;
}

.weather-left_content {
    display: flex;
    flex-direction: column;
}

.weather-left_content_top,
.weather-left_content_center,
.list-weather-icon {
    display: flex;
    align-items: center;
}

.weather-left_content_top p {
    margin-right: 9.5px;
}

.weather-left_content_center {
    margin: 10px 0 7.25px 0;
}

.weather-left_content_center img {
    margin-left: 15.5px;
}

.weather-left_content_center p {
    font-size: 30px;
    margin-left: 9.5px;
}

.list-weather-icon {
    gap: 25px;
}

.weather-item {
    list-style-type: none;
}

.weather-item_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3px solid #000000;
    border-radius: 10px;
    padding: 8px 15px;
}

.weather-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32.56px;
}
