.forgot-password_logo_first p {
    font-size: 18px;
    margin-top: 29px;
}

.forgot-password_logo_second p{
    margin-top: 29px;
    font-size: 15px;
}

.forgot-password_field_first {
    margin: 140px 0 !important;
}

.forgot-password_field_second {
    margin: 90px 0 !important;
}

.forgot-password_confirm_password {
    margin: 45px 0 !important;
}

.forgot-password_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.forgot-password_field_third {
    margin: 75px 0 50px 0!important;
}
